<%- include("partials/header") -%> 
    <div>
      <p>
        <%= message %>
      </p>
    </div>
    <div class="complaint">
      <p style = "font-weight: 800;">Management issues</p>
      <a href='/upvotes/1'><p style = "color:black">upvote</p></a>
    </div>
  </body>
</html>

<%- include("partials/footer") -%> 